/* * {
  background-color: cyan;
} */

body {
  background-color: #f1faee;
}

button {
  font-size: 30px;
  background-color: #a8dadc;
}

h1,
h2 {
  color: #1d3557;
}
#signup {
  background-color: #1d3557;
  color: #f1faee;
}

span {
  color: grey;
}

.tag {
  background-color: red;
  color: #f1faee;
  font-size: 16px;
}

.post a {
  color: orange;
  font-weight: 700;
  text-decoration: none;
}

footer a {
  color: plum;
}

h2 + button {
  font-size: 20px;
  background-color: blueviolet;
}

footer > a {
  color: orangered;
}

input[type="password"] {
  color: purple;
}

a[href*="google"] {
  color: magenta;
}

.post button:hover {
  background-color: red;
  color: mintcream;
}

a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: green;
}

.post:nth-of-type(3n) {
  background-color: orchid;
}

h2::first-letter {
  font-size: 45px;
}

p::first-line {
  color: purple;
}

p::selection {
  background-color: royalblue;
}

button:hover {
  background-color: olive;
}
